In [ ]:
import pandas as pd

df = pd.read_csv("sales.csv")
print(df)

       SaleId  OrderId  ProductId  Quantity
0           1        1          3         1
1           2        1          7         9
2           3        2          5        12
3           4        2         10         3
4           5        2          4         3
...       ...      ...        ...       ...
61878   61879    11235         10         6
61879   61880    11235          2         1
61880   61881    11235          7         3
61881   61882    11235         12         3
61882   61883    11235          1         4

[61883 rows x 4 columns]

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
61878    False
61879    False
61880    False
61881    False
61882    False
Length: 61883, dtype: bool

In [ ]:
df.isna().sum()

SaleId       0
OrderId      0
ProductId    0
Quantity     0
dtype: int64

In [ ]:
print(df.shape)

(61883, 4)

In [ ]:
import pandas as pd

do = pd.read_csv("orders.csv")
print(do)

       OrderId  CustomerId        Date
0            1         181  2018-01-01
1            2         119  2018-01-01
2            3          69  2018-01-01
3            4         173  2018-01-01
4            5         237  2018-01-01
...        ...         ...         ...
11230    11231          15  2020-01-10
11231    11232           5  2020-01-10
11232    11233         162  2020-01-10
11233    11234         164  2020-01-10
11234    11235         103  2020-01-10

[11235 rows x 3 columns]

In [ ]:
do.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
11230    False
11231    False
11232    False
11233    False
11234    False
Length: 11235, dtype: bool

In [ ]:
do.isna().sum()

OrderId       0
CustomerId    0
Date          0
dtype: int64

In [ ]:
dc=pd.read_csv("coustmers.csv")
print(dc)

     CustomerId  Active             Name                           Address  \
0             1    True        Jason Orr          Ap #387-8229 Nullam Road
1             2    True     Devin Herman      P.O. Box 905, 9608 Etiam St.
2             3    True      Kennan Head             Ap #694-3226 Odio St.
3             4   False        Peter Fry           Ap #378-2594 Arcu. Road
4             5    True         Guy Ball               418-8277 Sociis Ave
..          ...     ...              ...                               ...
395         396    True  Gabriel Cabrera              893-8895 Lacinia St.
396         397    True      Upton Avila              277-2012 Aliquet Ave
397         398    True    Dorian Farmer            918-2741 Semper Avenue
398         399    True     Philip Nolan  P.O. Box 159, 4292 Turpis Street
399         400    True     Carter Burke                  342-2129 Nam Ave

                     City Country                                      Email
0                 Kilsyth      HN           lacus.Nulla@Classaptenttaciti.ca
1                 Portici      HR          Integer.vulputate.risus@est.co.uk
2                  Bothey      JO              ligula@porttitortellusnon.org
3                 Oudegem      LR                eu@Phasellusvitaemauris.com
4    Charleville-Mézières      TG  vestibulum.Mauris.magna@ipsumdolorsit.com
..                    ...     ...                                        ...
395                Labico      BI                             justo@eusem.ca
396            Fort Laird      SB     accumsan.convallis.ante@vestibulum.com
397             H_villers      PK                    mauris@metusAliquam.org
398              Cessnock      SC                      gravida@semperNam.org
399           Banjarmasin     NaN                           Mauris@Duismi.ca

[400 rows x 7 columns]

In [ ]:
dc.duplicated().sum()

np.int64(0)

In [ ]:
dc.isna().sum()

CustomerId    0
Active        0
Name          0
Address       0
City          0
Country       2
Email         0
dtype: int64

In [ ]:
df.fillna("null")

       SaleId  OrderId  ProductId  Quantity
0           1        1          3         1
1           2        1          7         9
2           3        2          5        12
3           4        2         10         3
4           5        2          4         3
...       ...      ...        ...       ...
61878   61879    11235         10         6
61879   61880    11235          2         1
61880   61881    11235          7         3
61881   61882    11235         12         3
61882   61883    11235          1         4

[61883 rows x 4 columns]

In [ ]:
dco=pd.read_csv("countries.csv")
print(dco)

    Country Currency                  Name                Region  Population  \
0        AD      EUR               Andorra        WESTERN EUROPE       71201
1        AE      AED  United Arab Emirates             NEAR EAST     2602713
2        AF      AFN           Afghanistan  ASIA (EX. NEAR EAST)    31056997
3        AG      XCD     Antigua & Barbuda   LATIN AMER. & CARIB       69108
4        AI      XCD              Anguilla   LATIN AMER. & CARIB       13477
..      ...      ...                   ...                   ...         ...
219      YE      YER                 Yemen             NEAR EAST    21456188
220      YT      EUR               Mayotte    SUB-SAHARAN AFRICA      201234
221      ZA      ZAR          South Africa    SUB-SAHARAN AFRICA    44187637
222      ZM      ZMW                Zambia    SUB-SAHARAN AFRICA    11502010
223      ZW      ZWL              Zimbabwe    SUB-SAHARAN AFRICA    12236805

     Area (sq. mi.)  Pop. Density (per sq. mi.)  \
0               468                       152.1
1             82880                        31.4
2            647500                        48.0
3               443                       156.0
4               102                       132.1
..              ...                         ...
219          527970                        40.6
220             374                       538.1
221         1219912                        36.2
222          752614                        15.3
223          390580                        31.3

     Coastline (coast per area ratio)  Net migration  \
0                                0.00           6.60
1                                1.59           1.03
2                                0.00          23.06
3                               34.54          -6.15
4                               59.80          10.76
..                                ...            ...
219                              0.36           0.00
220                             49.52           6.78
221                              0.23          -0.29
222                              0.00           0.00
223                              0.00           0.00

     Infant mortality (per 1000 births)  ...  Phones (per 1000)  Arable (%)  \
0                                  4.05  ...              497.2        2.22
1                                 14.51  ...              475.3        0.60
2                                163.07  ...                3.2       12.13
3                                 19.46  ...              549.9       18.18
4                                 21.03  ...              460.0        0.00
..                                  ...  ...                ...         ...
219                               61.50  ...               37.2        2.78
220                               62.40  ...               49.7         NaN
221                               61.81  ...              107.0       12.08
222                               88.29  ...                8.2        7.08
223                               67.69  ...               26.8        8.32

     Crops (%)  Other (%)  Climate  Birthrate  Deathrate  Agriculture  \
0         0.00      97.78      3.0       8.71       6.25          NaN
1         2.25      97.15      1.0      18.96       4.40        0.040
2         0.22      87.65      1.0      46.60      20.34        0.380
3         4.55      77.27      2.0      16.93       5.37        0.038
4         0.00     100.00      2.0      14.17       5.34        0.040
..         ...        ...      ...        ...        ...          ...
219       0.24      96.98      1.0      42.89       8.30        0.135
220        NaN        NaN      2.0      40.95       7.70          NaN
221       0.79      87.13      1.0      18.20      22.00        0.025
222       0.03      92.90      2.0      41.00      19.93        0.220
223       0.34      91.34      2.0      28.01      21.84        0.179

     Industry  Service
0         NaN      NaN
1       0.585    0.375
2       0.240    0.380
3       0.220    0.743
4       0.180    0.780
..        ...      ...
219     0.472    0.393
220       NaN      NaN
221     0.303    0.671
222     0.290    0.489
223     0.243    0.579

[224 rows x 22 columns]

In [ ]:
dco.duplicated().sum()

np.int64(0)

In [ ]:
dco.isna().sum()

Country                                1
Currency                               0
Name                                   0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast per area ratio)       0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          17
Phones (per 1000)                      3
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [ ]:
dco.fillna("null")

,Country,Currency,Name,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast per area ratio),Net migration,Infant mortality (per 1000 births),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,AD,EUR,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.6,4.05,...,497.2,2.22,0.0,97.78,3.0,8.71,6.25,null,null,null
1,AE,AED,United Arab Emirates,NEAR EAST,2602713,82880,31.4,1.59,1.03,14.51,...,475.3,0.6,2.25,97.15,1.0,18.96,4.4,0.04,0.585,0.375
2,AF,AFN,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,...,3.2,12.13,0.22,87.65,1.0,46.6,20.34,0.38,0.24,0.38
3,AG,XCD,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,156.0,34.54,-6.15,19.46,...,549.9,18.18,4.55,77.27,2.0,16.93,5.37,0.038,0.22,0.743
4,AI,XCD,Anguilla,LATIN AMER. & CARIB,13477,102,132.1,59.80,10.76,21.03,...,460.0,0.0,0.0,100.0,2.0,14.17,5.34,0.04,0.18,0.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,YE,YER,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.0,61.5,...,37.2,2.78,0.24,96.98,1.0,42.89,8.3,0.135,0.472,0.393
220,YT,EUR,Mayotte,SUB-SAHARAN AFRICA,201234,374,538.1,49.52,6.78,62.4,...,49.7,null,null,null,2.0,40.95,7.7,null,null,null
221,ZA,ZAR,South Africa,SUB-SAHARAN AFRICA,44187637,1219912,36.2,0.23,-0.29,61.81,...,107.0,12.08,0.79,87.13,1.0,18.2,22.0,0.025,0.303,0.671
222,ZM,ZMW,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.0,88.29,...,8.2,7.08,0.03,92.9,2.0,41.0,19.93,0.22,0.29,0.489
223,ZW,ZWL,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.0,67.69,...,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [ ]:
dp=pd.read_csv("products.csv")
print(dp)

    ProductId      Name ManufacturedCountry  WeightGrams
0           1   Generac                  GB           55
1           2   Ambigue                  US          128
2           3    Vaguee                  CA          103
3           4   Dubioum                  PR           77
4           5     Fuzzi                  SG           83
5           6       Lax                  PK           48
6           7  Nebuloon                  CH          118
7           8  Obscurry                  AU           88
8           9   Uncerty                  GH           68
9          10  Uncleary                  PE           93
10         11     Tutti                  LI           81
11         12    Frutti                  JP          104

In [ ]:
dp.duplicated().sum()

np.int64(0)

In [ ]:
dp.isna().sum()

ProductId              0
Name                   0
ManufacturedCountry    0
WeightGrams            0
dtype: int64